# Data analysis using completely cleaned data ONLY

In [10]:
import pandas as pd

number_of_deaths = pd.read_csv("clean data/2018_deaths_clean.csv") # good
hotline_calls = pd.read_csv("Clean Data/county_hotline_calls_2018.csv") # good
drug_boxes = pd.read_csv("Clean Data/drug_boxes_by_county.csv") # good
pa_population = pd.read_csv("clean data/PA_population_clean.csv") # good
od_deaths = pd.read_csv("clean data/OD_Deaths_Cleaned_More.csv") # good
emergency_od_visits = pd.read_csv("Clean Data/further_cleaned_od_ed_visits_2018.csv") # Unclear Column names, needs more cleaning

In [11]:
number_of_deaths.shape
number_of_deaths.head()

         County  death_count
0  Pennsylvania       134571
1         Adams         1055
2     Allegheny        14051
3     Armstrong          855
4        Beaver         2185

In [12]:
hotline_calls.shape
hotline_calls.head()

,County,2018,Jan18,Feb18,Mar18,Apr18,May18,Jun18,Jul18,Aug18,Sep18,Oct18,Nov18,Dec18
0,Adams,27.0,1.0,2.0,4.0,0.0,4.0,3.0,3.0,0.0,2.0,5.0,1.0,2.0
1,Allegheny,1003.0,71.0,77.0,99.0,122.0,93.0,58.0,95.0,69.0,57.0,89.0,57.0,116.0
2,Armstrong,22.0,1.0,3.0,3.0,0.0,0.0,2.0,1.0,0.0,2.0,3.0,2.0,5.0
3,Beaver,121.0,11.0,12.0,9.0,15.0,12.0,9.0,7.0,10.0,5.0,9.0,9.0,13.0
4,Bedford,12.0,2.0,0.0,0.0,1.0,2.0,3.0,0.0,1.0,2.0,1.0,0.0,0.0

In [13]:
drug_boxes.shape
drug_boxes.head()

      County  Number Boxes
0      Adams            11
1  Allegheny            38
2  Armstrong             9
3     Beaver            16
4    Bedford             4

In [14]:
pa_population.head()
pa_population.shape ## Does not have state total

(67, 2)

In [15]:
od_deaths.shape
od_deaths.head()

      County  Any Drug Overdose Deaths  Opioid Overdose Deaths
0      Adams                      16.0                    16.0
1  Allegheny                     487.0                   411.0
2  Armstrong                      22.0                    21.0
3     Beaver                      43.0                    40.0
4    Bedford                       1.0                     1.0

In [16]:
emergency_od_visits.shape
emergency_od_visits.head()

,County,Annual Any Overdose ED Rate by Visit,Annual Opioid Overdose ED Rate by Visit,Annual Any Overdose ED Rate by Population,Annual Opioid Overdose ED Rate by Population
0,Adams,63.240638,8.554991,6.473773,1.001853
1,Allegheny,73.271708,18.053902,8.249881,2.152409
2,Armstrong,33.592188,2.753188,7.388562,1.942354
3,Beaver,66.888480,2.022103,7.719393,0.662092
4,Bedford,50.387198,7.602126,5.620875,0.722447

In [36]:
merged_1 = pd.merge(number_of_deaths, hotline_calls, on='County', how='outer')
merged_2 = pd.merge(merged_1, drug_boxes, on='County', how='outer')
merged_3 = pd.merge(merged_2, pa_population, on='County', how='outer')
merged_4 = pd.merge(merged_3, od_deaths, on='County', how='outer')
opioid_pa_df = pd.merge(merged_4, emergency_od_visits, on='County', how='outer')

opioid_pa_df.head()
# Opioid_pa_df = pd.merge(number_of_deaths, hotline_calls, drug_boxes, pa_population, od_deaths, emergency_od_visits, on='County', how='Outer')

,County,death_count,2018,Jan18,Feb18,Mar18,Apr18,May18,Jun18,Jul18,...,Nov18,Dec18,Number Boxes,2019 Population,Any Drug Overdose Deaths,Opioid Overdose Deaths,Annual Any Overdose ED Rate by Visit,Annual Opioid Overdose ED Rate by Visit,Annual Any Overdose ED Rate by Population,Annual Opioid Overdose ED Rate by Population
0,Pennsylvania,134571.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4413.0,3915.0,78.032502,17.122122,8.643136,1.916749
1,Adams,1055.0,27.0,1.0,2.0,4.0,0.0,4.0,3.0,3.0,...,1.0,2.0,11.0,"102,811",16.0,16.0,63.240638,8.554991,6.473773,1.001853
2,Allegheny,14051.0,1003.0,71.0,77.0,99.0,122.0,93.0,58.0,95.0,...,57.0,116.0,38.0,"1,218,452",487.0,411.0,73.271708,18.053902,8.249881,2.152409
3,Armstrong,855.0,22.0,1.0,3.0,3.0,0.0,0.0,2.0,1.0,...,2.0,5.0,9.0,"65,263",22.0,21.0,33.592188,2.753188,7.388562,1.942354
4,Beaver,2185.0,121.0,11.0,12.0,9.0,15.0,12.0,9.0,7.0,...,9.0,13.0,16.0,"164,742",43.0,40.0,66.888480,2.022103,7.719393,0.662092

In [41]:
opioid_pa_df = opioid_pa_df.sort_values(by='County')
opioid_pa_df=opioid_pa_df.rename(columns={"2018":"hotline call_2018"})
opioid_pa_df.shape
opioid_pa_df.head()
opioid_pa_df.columns

Index(['County', 'death_count', 'hotline call_2018', 'Jan18', 'Feb18', 'Mar18',
       'Apr18', 'May18', 'Jun18', 'Jul18', 'Aug18', 'Sep18', 'Oct18', 'Nov18',
       'Dec18', 'Number Boxes', '2019 Population ', 'Any Drug Overdose Deaths',
       'Opioid Overdose Deaths', 'Annual Any Overdose ED Rate by Visit',
       'Annual Opioid Overdose ED Rate by Visit',
       'Annual Any Overdose ED Rate by Population',
       'Annual Opioid Overdose ED Rate by Population'],
      dtype='object')

## Further cleaned by Elle

In [77]:
# calculate death ratios, drop columns 

opioid_pa_df2=opioid_pa_df.drop(['Jan18', 'Feb18', 'Mar18', 'Apr18','May18', 'Jun18', 'Jul18', 'Aug18', 'Sep18', 'Oct18', 'Nov18', 'Dec18'],axis=1)
opioid_pa_df2["any_od_death_over_all_deaths"]=opioid_pa_df2["Any Drug Overdose Deaths"]/opioid_pa_df2["death_count"]
opioid_pa_df2["op_od_death_over_all_death"]=opioid_pa_df2["Opioid Overdose Deaths"]/opioid_pa_df2["death_count"]
del opioid_pa_df2["death_count"]

opioid_pa_df2.head()
opioid_pa_df2.to_csv("clean data/final_clean_data_2018.csv")

# del opioid_pa_df2["Any Drug Overdose Deaths"]
# del opioid_pa_df2["Opioid Overdose Deaths"]
# opioid_pa_df2=opioid_pa_df2.rename(columns={"2019 Population ":"2019_population"})
# opioid_pa_df2["death_over_population_any_od"]=opioid_pa_df2["Any Drug Overdose Deaths"]/opioid_pa_df2.iloc[:,4].astype(float)
# opioid_pa_df2["death_over_population_op_od"]=opioid_pa_df2["Opioid Overdose Deaths"]/opioid_pa_df2.iloc[:,4].astype(float)
# opioid_pa_df2.iloc[:,4]
# opioid_pa_df2.columns