# Data analysis using completely cleaned data ONLY

In [25]:
import pandas as pd

number_of_deaths = pd.read_csv("clean data/2018_deaths_clean.csv") # good
hotline_calls = pd.read_csv("Clean Data/county_hotline_calls_2018.csv") # good
drug_boxes = pd.read_csv("Clean Data/drug_boxes_by_county.csv") # good
pa_population = pd.read_csv("clean data/PA_population_clean.csv") # good
od_deaths = pd.read_csv("clean data/OD_Deaths_Cleaned_More.csv") # good
emergency_od_visits = pd.read_csv("Semi-Clean Data/cleaned_od_ed_visits_2018.csv") # Unclear Column names, needs more cleaning

In [24]:
number_of_deaths.head()

         County  death_count
0  Pennsylvania       134571
1         Adams         1055
2     Allegheny        14051
3     Armstrong          855
4        Beaver         2185

In [21]:
hotline_calls.head()

,County,2018,Jan18,Feb18,Mar18,Apr18,May18,Jun18,Jul18,Aug18,Sep18,Oct18,Nov18,Dec18
0,Adams,27.0,1.0,2.0,4.0,0.0,4.0,3.0,3.0,0.0,2.0,5.0,1.0,2.0
1,Allegheny,1003.0,71.0,77.0,99.0,122.0,93.0,58.0,95.0,69.0,57.0,89.0,57.0,116.0
2,Armstrong,22.0,1.0,3.0,3.0,0.0,0.0,2.0,1.0,0.0,2.0,3.0,2.0,5.0
3,Beaver,121.0,11.0,12.0,9.0,15.0,12.0,9.0,7.0,10.0,5.0,9.0,9.0,13.0
4,Bedford,12.0,2.0,0.0,0.0,1.0,2.0,3.0,0.0,1.0,2.0,1.0,0.0,0.0

In [22]:
drug_boxes.head()

      County  Number Boxes
0      Adams            11
1  Allegheny            38
2  Armstrong             9
3     Beaver            16
4    Bedford             4

In [11]:
pa_population.head()

         County 2019 PopulationÂ
0  Philadelphia        1,584,138
1     Allegheny        1,218,452
2    Montgomery          828,604
3         Bucks          628,195
4      Delaware          564,751

In [12]:
od_deaths.head()

      County  Any Drug Overdose Deaths  Opioid Overdose Deaths
0      Adams                      16.0                    16.0
1  Allegheny                     487.0                   411.0
2  Armstrong                      22.0                    21.0
3     Beaver                      43.0                    40.0
4    Bedford                       1.0                     1.0

In [17]:
emergency_od_visits.head()

,Unnamed: 0,County Name,anyod_annual_ED_rate_by_visit_18,op_od_annual_ED_rate_by_visit_18,anyod_annual_ED_rate_by_ppl_18,op_od_annual_ED_rate_by_ppl_18
0,0,Adams,63.240638,8.554991,6.473773,1.001853
1,1,Allegheny,73.271708,18.053902,8.249881,2.152409
2,2,Armstrong,33.592188,2.753188,7.388562,1.942354
3,3,Beaver,66.888480,2.022103,7.719393,0.662092
4,4,Bedford,50.387198,7.602126,5.620875,0.722447